.font-monospace {
  font-family: monospace;
}

.font-sans-serif {
  font-family: sans-serif;
}

@font-face {
  font-family: 'GreycliffCF';
  src: url('../fonts/GreycliffCF/Greycliff-CF-Medium.otf') format('opentype'), url('../fonts/GreycliffCF/Greycliff-CF-Bold.otf') format('opentype');

}

.font-greycliff {
  font-family: "GreycliffCF", sans-serif;
}

@font-face {
  font-family: 'Lotion';
  src: url('../fonts/Lotion/Lotion-Bold.ttf') format('truetype'),
    url('../fonts/Lotion/Lotion-Black.ttf') format('truetype');
}

.font-lotion {
  font-family: "Lotion", monospace;
}

@font-face {
  font-family: 'Iosevka Comfy';
  src: url('../fonts/IosevkaComfy/iosevka-comfy-wide-medium.ttf') format('truetype'),
    url('../fonts/IosevkaComfy/iosevka-comfy-wide-semibold.ttf') format('truetype');

}

.font-iosevka-comfy {
  font-family: "Iosevka Comfy", monospace;
}
