@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.ttf') format('truetype'),
    url('../fonts/Inter-Bold.ttf') format('truetype')
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('../fonts/JetBrainsMono-Regular.ttf') format('truetype'),
    url('../fonts/JetBrainsMono-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Regular.ttf') format('truetype'),
    url('../fonts/Manrope-Bold.ttf') format('truetype')
}

@font-face {
  font-family: 'RobotoMono';
  src: url('../fonts/RobotoMono-Regular.ttf') format('truetype'),
    url('../fonts/RobotoMono-Bold.ttf') format('truetype')
}

.font-monospace {
  font-family: monospace;
}

.font-sans-serif {
  font-family: sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-manrope {
  font-family: 'Manrope', sans-serif;
}

.font-jetbrains-mono {
  font-family: 'JetBrainsMono', monospace
}

.font-roboto-mono {
  font-family: 'RobotoMono', monospace;
}
