@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --foreground: #a0b7e5;
    --accent: #3B82F6;
    --border: #2e3a56;
    --base: #0F172A;
    --base-darker: #090e19;
    --radius: 0.5rem;
    --header: #e0ebf4;
    --subtitle: #8ea3cc;
    --foreground: #abc3f4;
  }
}

@layer base {
  svg.icon-lg {
    @apply w-12 h-12;
  }

  svg.icon {
    @apply w-8 h-8;
  }

  svg.icon-sm {
    @apply w-6 h-6;
  }
}
