@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0f1011;
  color: #d4d5d6;
  font-family: "Input Mono", monospace
}

main {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  height: 100vh;
  padding: 1.2em;
  gap: 20px;
}

h1 {
  font-size: 3rem;
  line-height: 0.9;
  font-family: "Input Mono", monospace
}

.timers {
  width: 100%;
}

[role='timer'] {
  display: flex;
  position: relative;
  align-items: flex-end;
  background: #1a1c1e;
  border: 1px solid #26282b;
  border-radius: 9px;
  width: 100%;
  margin: 1em 0em;
  padding: 1.2em 1.3em;
}

[role='timer'] span {
  font-size: 1rem;
  color: #595f66;
  font-family: "Input Mono", monospace;
  padding-left: 20px;
}

[role='timer'] .inactive {
  opacity: 0.6;
}

[role='timer'] h1 {
  width: 3.2em
}


.actions { 
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  gap: 2em;
  flex-direction: column;
}

.actions button { 
  font-size: 1.5em;
}

button:nth-child(3) {
  font-size: 2em;
  border-radius: 50%;
}
