@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --foreground: #a0b7e5;
    --accent: #3B82F6;
    --border: #2e3a56;
    --base: #0F172A;
    --base-darker: #090e19;
    --radius: 0.5rem;
    --header: #e0ebf4;
    --subtitle: #8ea3cc;
    --foreground: #abc3f4;
    --font-family: var(--font-inter);
    --font-size-sm: 1rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.2rem;
    --font-size-xl: 1.4rem;
    --font-size-2xl: 2rem;
  }
}


.custom-text-sm {
  font-size: var(--font-size-sm);
}

.custom-text-md {
  font-size: var(--font-size-md);
}

.custom-text-lg {
  font-size: var(--font-size-lg);
}

.custom-text-xl {
  font-size: var(--font-size-xl);
}

.custom-text-2xl {
  font-size: var(--font-size-2xl);
}

.fade-box {
  mask-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0px,
      rgba(0, 0, 0, 1) 90px,
      rgba(0, 0, 0, 1) calc(100% - 120px),
      rgba(0, 0, 0, 0) calc(100% - 38px),
      rgba(0, 0, 0, 0) 100%);
}

.session-exit-up {
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.session-exit-up-active {
  opacity: 0;
  transform: translateY(-20px);
}



.font-iosevka,
.font-iosevka-curly-slab {
  h1 {
    @apply tracking-[0.018em]
  }

  h2 {
    @apply tracking-[0.012em]
  }

  button {
    @apply tracking-[0.01em]
  }
}

.font-sono {
  h1 {
    @apply tracking-[-0.02em]
  }

  h2 {
    @apply tracking-[-0.01em]
  }
}

.font-poppins {
  h1 {
    @apply tracking-[0.017em]
  }

  h2 {
    @apply tracking-[0.015em]
  }
}

.font-sora {
  h1 {
    @apply tracking-[0.01em]
  }

  h2 {
    @apply tracking-[0.014em]
  }
}


@layer utilities {
  .backdrop {
    @apply w-fit relative items-center justify-between cursor-pointer hover:before:z-[-1] hover:before:absolute hover:before:h-16 hover:before:w-16 hover:before:bg-theme-border hover:before:opacity-40 hover:before:rounded-full hover:before:left-1/2 hover:before:top-1/2 hover:before:-translate-x-1/2 hover:before:-translate-y-1/2
  }
}

@layer base {
  body {
    @apply bg-theme-base-darker text-theme-foreground;
    font-family: var(--font-family);
  }

  svg.icon-lg {
    @apply w-12 h-12;
  }

  svg.icon {
    @apply w-8 h-8 text-theme-header;
  }

  svg.icon-sm {
    @apply w-6 h-6;
  }
}
