@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0f1011;
  color: #d4d5d6;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}

h1 {
  font-size: 3rem;
}

span {
  margin: 15px 25px 0 10px;
  font-size: 1.25rem;
}

button {
  padding: 10px;
  font-size: 1.5em;
}

.clock {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

button:nth-child(2) {
  background: linear-gradient(to top, #4ad8e2, #4a8ce2);
  font-size: 2em;
  border-radius: 50%;
  padding: 20px;
  margin: 0 20px;
}
