@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0f1011;
  color: #d4d5d6;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}

h1 {
  font-size: 3rem;
  line-height: 0.9;
  font-family: monospace;
}

[role='timer'] {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  font-family: monospace;
}

[role='timer'] span {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #595f66;
  padding-left: 20px;
  width: 100px;
}

button {
  padding: 10px;
  font-size: 1.5em;
}

button:nth-child(2) {
  background: linear-gradient(to top, #4ad8e2, #4a8ce2);
  font-size: 2em;
  border-radius: 50%;
  padding: 20px;
  margin: 0 20px;
}
