@font-face {
  font-family: 'Lotion';
  src: url('../fonts/Lotion/Lotion-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lotion';
  src: url('../fonts/Lotion/Lotion-Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
